@font-face {
    font-family: 'open-sans';
    src: url('/webfonts/Open_Sans/OpenSans-Light.woff2') format('woff2'), url('/webfonts/Open_Sans/OpenSans-Light.woff') format('woff'), url('/webfonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans';
    src: url('/webfonts/Open_Sans/OpenSans-LightItalic.woff2') format('woff2'), url('/webfonts/Open_Sans/OpenSans-LightItalic.woff') format('woff'), url('/webfonts/Open_Sans/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans';
    src: url('/webfonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'), url('/webfonts/Open_Sans/OpenSans-Regular.woff') format('woff'), url('/webfonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans';
    src: url('/webfonts/Open_Sans/OpenSans-Italic.woff2') format('woff2'), url('/webfonts/Open_Sans/OpenSans-Italic.woff') format('woff'), url('/webfonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans';
    src: url('/webfonts/Open_Sans/OpenSans-SemiBold.woff2') format('woff2'), url('/webfonts/Open_Sans/OpenSans-SemiBold.woff') format('woff'), url('/webfonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans';
    src: url('/webfonts/Open_Sans/OpenSans-SemiBoldItalic.woff2') format('woff2'), url('/webfonts/Open_Sans/OpenSans-SemiBoldItalic.woff') format('woff'), url('/webfonts/Open_Sans/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans';
    src: url('/webfonts/Open_Sans/OpenSans-Bold.woff2') format('woff2'), url('/webfonts/Open_Sans/OpenSans-Bold.woff') format('woff'), url('/webfonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans';
    src: url('/webfonts/Open_Sans/OpenSans-BoldItalic.woff2') format('woff2'), url('/webfonts/Open_Sans/OpenSans-BoldItalic.woff') format('woff'), url('/webfonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans';
    src: url('/webfonts/Open_Sans/OpenSans-ExtraBold.woff2') format('woff2'), url('/webfonts/Open_Sans/OpenSans-ExtraBold.woff') format('woff'), url('/webfonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans';
    src: url('/webfonts/Open_Sans/OpenSans-ExtraBoldItalic.woff2') format('woff2'), url('/webfonts/Open_Sans/OpenSans-ExtraBoldItalic.woff') format('woff'), url('/webfonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'abdo-master';
    src: url('/webfonts/Abdo-Master/AbdoMaster-Regular.woff2') format('woff2'), url('/webfonts/Abdo-Master/AbdoMaster-Regular.woff') format('woff'), url('/webfonts/Abdo-Master/abdo-master-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'abdo-master';
    src: url('/webfonts/Abdo-Master/AbdoMaster-Medium.woff2') format('woff2'), url('/webfonts/Abdo-Master/AbdoMaster-Medium.woff') format('woff'), url('/webfonts/Abdo-Master/abdomaster-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'abdo-master';
    src: url('/webfonts/Abdo-Master/AbdoMaster-DemiBold.woff2') format('woff2'), url('/webfonts/Abdo-Master/AbdoMaster-DemiBold.woff') format('woff'), url('/webfonts/Abdo-Master/abdo-master-demibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'abdo-master';
    src: url('/webfonts/Abdo-Master/AbdoMaster-Bold.woff2') format('woff2'), url('/webfonts/Abdo-Master/AbdoMaster-Bold.woff') format('woff'), url('/webfonts/Abdo-Master/abdo-master-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}